/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
}

body{
  background-color: rgba(78, 71, 255, .05);
  
}


.logo-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-font{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* logo site name */
.site-name{
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
    font-weight: 900;
}
 
/* button annimation */
button{
  transition: 0.2s;
}
button:hover{
  background-color: #F97C7C;
  color: #FFFCE2;
}

/* primary button */
.btn-primary{
    background-color: rgba(78, 71, 255, 1);
    color: white;
}

.btn-1{
    width: 132px;
    height: 48px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font-weight:500 ;
}

.btn-2{
    width: 174px;
    height: 48px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font-weight:500 ;
}

.main-heading{
    font: bold;
    font-size: 65px;
    margin-bottom: 37px;
    color: #252432;
}

.navbar_banner{
    padding: 1px;
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
}

.banner{
    margin: 309px 267.5px 152px 309px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-3{
    width: 229px;
    height: 48px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font: bold;
}

.action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 116px 160px 116px  140px;
}




.action-text{
    font: bold;
    font-size: 42px;
    color: #252432;
    margin-bottom: 23px;
}

.action-para{
    font-size: 24px;
    color: #252432;
    opacity: 50%;
    margin-bottom: 23px;
    width: 517px;
}

.mini-img{
    width: 403px;
    height: 328px;
    border: none;
    border-radius: 48px;
}


.productive-user{
    width: 1140px;
    height: 306px;
    margin: 116px 159px 137px 141px;
    border: none;
    border-radius: 24px;
    background-color: rgba(78, 71, 255, 0.1);
    
}

.productive-user-content{
    padding: 50px 142px;
}

.user-text{
    text-align: center;
    font-size: 38px;
    font: bold;
    color: #252432;
    
}

.data{
    margin: 40px;
}

.data-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 158px;
    color: #4E47FF;
    font-size: 40px;
    font: bold;
}

.data-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 158px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

/* card section */
.card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin: 50px 149px 137px 151px;
}

.cards{
  border: 1px solid #F2EDED;
  border-radius: 14px;
  padding: 24px;
  background-color: #FFFFFF;
}

.review-card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 24px;
  width: 366px;
  height: 243px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stars {
  display: flex;
  /* justify-content: center; */
  margin-bottom: 10px;
}

.stars img {
  width: 20px;
  height: 20px;
  margin: 0 2px;
}

h2 {
  font-size: 1.3rem;
  margin: 12px 0;
  color: #222;
}

.quote {
  width: 318.67px;
  height: 44px;
  color: #000000;
  margin-bottom: 16px;
}

.reviewer {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
}

.info {
  text-align: left;
}

.name {
  font-weight: bold;
  margin: 0;
}

.date {
  color: #888;
  margin: 4px 0 0;
}


/* focus */
.focus {
    width: 1140px;
    height: 617.77px;
    margin: 50px auto;
    padding-top: 40px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.focus-head{
  font-size: 50px;
  font: bold;
  margin-bottom: 20px;
}

.focus-para{
  color: 000000;
  opacity: 50%;
  margin-bottom: 20px;
}

.btn-4{
  border: none;
  border-radius: 10px;
  height: 48px;
  width: 195px;
}

.image-area{
  margin-top: 20px;
  /* margin-bottom: 71px; */
}

.focus-img{
  border: none;
  border-radius: 48px;
  width: 840px;
  height: 364.77px;
}


/* contact */
.contact{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px 0 0;

}


.contact h2{
  font: bold;
  font-size: 97px;
  margin: 92.23px 150px 14px 150px;
}

.contact form{
  display: flex;
  flex-direction: column;
}

label{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-top: 19px;
  margin-bottom: 10px;
  margin-right: 150px;
}

input{
  width: 440px;
  height: 40px;
  border: 1px solid #D6DDED;
  border-radius: 10px;
  padding: 8px 20px;
}

::placeholder{
  color: #000000;
  opacity: 50%;
}


.txt-area {
  margin-bottom: 19px;
  padding: 8px 20px;
  border: 1px solid #D6DDED;
  border-radius: 10px;
}

.btn-5{
  padding: 19px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font: bold;
}


/* footer */

footer{
  margin: 104px 455px 103px 454px;
}

.footer{
  
  margin: 85px 0 0 0;
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}


.footer-head{
  font-size: 100px;
    color: rgba(78, 71, 255, 1);
    font-weight: 900;
}

.footer-para{
  color: #000000;
  opacity: 50%;
  margin-bottom: 20px;
}

.footer-nav{
  color: #000000;
  opacity: 50%;
  
}

nav ul li{
  list-style-type: none;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: space-around; 
}